.header{
	background: #add8e6;
	color: #fff;
	
}
.gameBoard{
	margin: 0 2em;
}
.tile{
	border: 1px solid #b4b4b4;
	height: 10em;
	text-align: center;

}

.glyphicon{
	font-size: 5em;
	margin-top: 0.5em;
}


@media screen and (min-width:768px){
	.gameBoard{
		margin: 0 17em;
	}
}
@media screen and (min-width:1200px){
	.gameBoard{
		margin: 0 25em;
	}
}