.header {
  text-align: center;
  font-size: 1.75em;
  color: #888;
  border-bottom: 1px solid #888;
  margin: 0.5em; }
  .header .headerLinks {
    font-size: .75em;
    margin-bottom: .5em; }

.winner {
  color: #43CE43; }

.turn {
  font-size: 1.5em;
  color: #888; }

.player {
  color: #F44336;
  font-size: 1.5em; }

.gameBoard {
  margin: 0 2em; }

.glyphicon-record {
  color: #F44336; }

.tile {
  border: 1px solid #b4b4b4;
  height: 10em;
  text-align: center; }

.glyphicon {
  font-size: 5em;
  margin-top: 0.5em; }

@media screen and (min-width: 768px) {
  .gameBoard {
    margin: 0 17em; } }

@media screen and (min-width: 1200px) {
  .gameBoard {
    margin: 0 25em; } }
